/*
    Desenvolvido por TiServeloja, janeiro de 2018
    Alterado em julho de 2019
*/

/* p {
    margin: 0px 0px 12px 0px;
} */

#bgModal {
    position: fixed;
    background: rgba(0, 0, 0, 0.92);
    width: 100%;
    height: 100%;
    z-index: 9999999999;
    left: 0px;
    top: 0px;
}

/* modal */
.modal {
    position: fixed;
    width: 260px;
    height: 180px;
    padding: 10px;
    background-color: #fff;
    left: 50%;
    top: 50%;
    margin: -150px 0px 0px -120px;
    border: 4px solid #999;
    border-radius: 5px;
    overflow: hidden;
    z-index: 99999999999;
}

.modal_erro {
    border: 4px solid #f00;
}

.modal_alerta {
    border: 4px solid #efb100;
}

.modal_sucesso {
    border: 4px solid #008400;
}

.modal_informacao, .modal_duvida {
    border: 4px solid #255589;
}

#icone {
    float: left;
    width: 48px;
    height: 48px;
    background-size: 48px;
    background-repeat: no-repeat;
    margin-right: 10px;
}

#icone img {
    width: 100%;
}

.cabecalho {
    background-color: #999;
    color: #fff;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0px 0px 3px 10px;
    width: 300px;
    margin: -11px 0px 10px -11px;
    letter-spacing: -1px;
}

.cabecalho_erro {
    background-color: #f00;
}

.cabecalho_alerta {
    background-color: #efb100;
}

.cabecalho_sucesso {
    background-color: #008400;
}

.cabecalho_informacao, .cabecalho_duvida {
    background-color: #255589;
}

.modal .ok {
    position: absolute;
    width: 80px;
    padding: 5px 10px 5px 10px;
    background-color: #ddd;
    color: #666;
    font-size: .875rem;
    font-weight: bold;
    border-radius: 3px;
    bottom: 0px;
    right: 0px;
    margin: 0px 10px 10px 0px;
    cursor: pointer;
    text-align: center;
}

.resposta {
    font-size: .8125rem;
    text-align: left;
    height: 110px;
    overflow: hidden;
    line-height: 100%;
}

.sombra {
    box-shadow: 0px 0px 7px #333;
    -webkit-box-shadow: 0px 0px 7px #333;
    -moz-box-shadow: 0px 0px 7px #333;
}

.margin_top {
    margin-top: 5px;
}

/* ajustes colunas */
.coluna50_left {
    float: left;
    width: 49%;
}
.coluna50_right {
    float: right;
    width: 49%;
}

.colunaDinamica_left{
    float: left;
    width: 49%;
}

.colunaDinamica_right {
    float: right;
    width: 49%;
}

.coluna25_left {
    float: left;
    width: 24%;
}

.coluna75{
    float: right;
    width: 74%;
}
.coluna100 {
    float: left;
    width: 100%;
}

.coluna23 {
    float: left;
    width: 23%;
    margin-right: 3px;
}

.coluna25_right {
    float: right;
    width: 28.7%;
}

.coluna96 {
    width: 96.5% !important;
}

.coluna100 {
    width: 100% !important;
}

.clear {
    clear: both;
    visibility: hidden;
}

/* form pagamento */

#formPagamento #bgModal_interno {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 632px;
    height: 472px;
    z-index: 10000;
    left: 50%;
    top: 50%;
    margin: -246px 0px 0px -306px;
}



#formPagamento #cabecalho_pagamento #logo {
    float: left;
    width: 125px;
}

#formPagamento #cabecalho_pagamento #logo img {
    width: 100%;
}

#formPagamento #colunaEsq {
    width: 35%;
    margin-right: 10px;
    padding-right: 10px;
    background-color: white;
    border-right: #D2D2D2 dashed 1px;
    float: left;
}

#formPagamento #colunaDir {
    float: left;
    padding: 0px;
    width: 63%;
}

#exibeCartao {
    width: 100%;
    float: left;
    background-color: #e2e2e2;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 5px;
} 

.vermelho{
    color: #f00;
}


/*Estilos do Checkout transparente*/

.divFinalizarCompraCheckout{
    margin: auto;
    margin-bottom: 30px !important;
    border: 1px solid #ddd;
    background-color: white;
    width: 70%;
    float: left;
    overflow: hidden;
}
.divInternaFinalizarCompraCheckout{
    width: 100%;
}
.cabecalhoFinalizarCompraCheckout{
    background-color: #444852 !important;
    padding: 5px 15px 5px 15px;
    background-size: cover; 
    background-position: center;
    width: auto;
    display: flow-root;
}
.cartoesFinalizarCompraCheckout{
    width: 20%;
    padding: 0px 10px 10px 10px;
    float: left;
    border-right: #D2D2D2 dashed 1px;
}
.formFinalizarCompraCheckout{
    background: white;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    padding: 20px 50px 50px 50px;
}

.valorTotalFinalizarCompraCheckout{
    float: right;
    text-align: left;
    color: white;
    font-size: 16px !important;
    font-family: Nunito, sans-serif !important;

}
.textoCabecalhoFinalizarCompraCheckout{
    float: left;
    text-align: left;
    color: white;
    font-size: 19px !important;
    font-family: Nunito, sans-serif !important;

}

.logoFinalizarCompraCheckout {
    width: 200px;
    padding: 15px 10px 10px 20px;
    float: left;
}

.botaoCancelarFinalizarCompraCheckout {
    background-color: #f00 !important;
    color: #fff !important;
    border: none !important;
    border-radius: 3px;
    padding: 5.5px;
    cursor: pointer;
    box-shadow: none;
	float: left;
    margin-top: 25px;
    text-align: center;
}

.inputCheckout .exibeSenha{
    padding-left: 10px !important;
    background-color: #FFFFFF !important;
    border: solid 1px #E6E6E6 !important;
    margin: 0px 0px 5px 0px !important;
    padding: 7px 7px 7px 5px !important;
    font-size: 14px;
    border-radius: 3px;
    width: 100% !important;
    height: 35px !important;
    font-size: 14px;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    margin-bottom: 5px;
    font-family: Nunito, sans-serif !important;
    outline: none !important;
}

/*Estilos do lightbox*/

#formPagamento {
    position: fixed;
    width: 640px;
    height: 480px;
    padding: 10px;
    background-color: #fff;
    left: 50%;
    top: 50%;
    margin: -250px 0px 0px -310px;
    border-radius: 5px;
    overflow: hidden;
    z-index: 11000;
}

.divFinalizarCompraLightbox{/**/
    margin: auto;
    padding: auto;
    border: 1px dashed #ddd;
    border-radius: 5px; 
    background-color: white;
    width: 100%; 
    overflow: hidden;
}
.divInternaFinalizarCompraLightbox{/**/
    margin: auto;
    padding: auto;
    width: 100%;
}
.cabecalhoFinalizarCompraLightbox{
    background-image: url('../images/barra.png') !important;
    background-size: cover; 
    background-position: center;
    width: 100%;
    display: flow-root;
    width: 110%;
    height: 55px;
    padding: 10px;
    margin-bottom: 10px;
    margin: -11px 0px 10px -11px;
}
.cartoesFinalizarCompraLightbox{
    width: 20%;
    padding: 10px;
    float: left;
}

.formFinalizarCompraLightbox{
    width: 80%;
    padding: 30px;
    float: right;
}

.valorTotalFinalizarCompraLightbox{
    float: right;
    padding-top: 5px;
    color: #24B24B;
    font-size: 16px !important;
    font-family: Nunito, sans-serif !important;
    background-repeat: no-repeat;
    right: 41px;
    font-weight: bold;
    text-align: right;
    letter-spacing: -1px;
}

.textoValorTotal{
    color: #9A9A9A;
    font-size: 12px !important;
    font-family: Nunito, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif !important;
    font-weight: normal;
    display: inline !important;
}

.logoFinalizarCompraLightbox {
    width: 200px;
    padding: 10px;
    float: left;
}

.botaoCancelarFinalizarCompraLightbox {
    background-color: #f00 !important;
    color: #fff !important;
    border: none !important;
    border-radius: 3px;
    padding: 5.5px;
    cursor: pointer;
    box-shadow: none;
	float: left;
    margin-top: 25px;
    text-align: center;
}


.tituloInputFinalizarCompraLightbox{
    font-family: Nunito, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif !important;
    font-weight: 600;
    height: 17px !important;
    font-size: 0.65rem;
    color: #666;
}


.tituloFinalizarCompraLightbox{
    font-weight: bold;
    font-size: 0.85rem;
    margin-bottom: 15px;
    color: black;
}


.inputFormFinalizarCompraLightbox{
    padding-left: 10px !important;
    background-color: #E2E2E2 !important;
    border: none !important;
    margin: 0px 0px 5px 0px !important;
    padding: 7px 7px 7px 5px !important;
    font-size: 14px;
    border-radius: 3px;
    width: 100% !important;
    height: 35px !important;
    font-size: 14px;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    margin-bottom: 5px;
    font-family: Nunito, sans-serif !important;
    outline: none !important;
}

.inputFormFinalizarCompraCheckout{
    padding-left: 10px !important;
    background-color: #FFFFFF !important;
    border: solid 1px #E6E6E6 !important;
    margin: 0px 0px 5px 0px !important;
    padding: 7px 7px 7px 5px !important;
    font-size: 14px;
    border-radius: 3px;
    width: 100% !important;
    height: 35px !important;
    font-size: 14px;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    margin-bottom: 5px;
    font-family: Nunito, sans-serif !important;
    outline: none !important;
}

.selectFinalizarCompraLightbox{
    padding-left: 6px !important;
    border: 1px solid #E6E6E6 !important;
    background-color: white !important;
    margin: 0px;
    padding: 7px 7px 7px 5px;
    font-size: 14px;
    border-radius: 3px;
    width: 100%;
    height: 35px;
    font-size: 14px;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    margin-bottom: 5px;
    font-family: Nunito, sans-serif !important;
}


.inputLightbox .exibeSenha{
    padding-left: 10px !important;
    background-color: #E2E2E2 !important;
    border: none !important;
    margin: 0px 0px 5px 0px !important;
    padding: 7px 7px 7px 5px !important;
    font-size: 14px;
    border-radius: 3px;
    width: 100% !important;
    height: 35px !important;
    font-size: 14px;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    margin-bottom: 5px;
    font-family: Nunito, sans-serif !important;
    outline: none !important;
}



/* Ajustes tabelas */
.tabelaCliente
{
    border: none;
    border-radius: 3px !important;
    width: 100%;
    font-size: .75rem;
    margin-top: 5px;
}



.tabelaCliente .celulabodyCliente
{
    border: none;
    height: 20px;
    padding: 0px 0px 0px 10px;
}

.img_tabela_client {
    float: left;
    width: 100%;
    margin-right: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.tabela
{
    border: none;
    border-radius: 3px !important;
    width: 100%;
    font-size: .75rem;
    margin-top: 5px;
    border-bottom: 1px solid #ccc;
}

.tabela .celulabody
{
    height: 20px;
    padding: 6px 0px 4px 10px;
    border-top: 1px solid #ccc;
}

.img_detalhes {
    float: left;
    width: 100px;
    margin: 0px 10px 0px 0px;
    background-color: #fff;
    border-radius: 3px;
}

.dir_detalhes {
    float: left;
    width: 69%;
}

.alerta {
    font-size: 0.85rem  !important;
    width: 100%  !important;
    font-weight: normal !important;
    margin-top: 5px !important;
}

/*Novo modal*/
.formularioLightbox{
   padding: 0px; 
   margin-top: 5px;
}

.formularioTituloLightbox{
    color: #4A90E2;
    float: center;
    font-size: 16px !important;
    font-family: Nunito, sans-serif !important;
    font-weight: bold;
    text-align: center;
}

.formularioOpcaoMenuLightbox:link, .formularioOpcaoMenuLightbox:visited, .formularioOpcaoMenuLightbox:active{
    color: black;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    float: center;
    margin: 10px;
}

.formularioOpcaoMenuLightbox{
    background-color: transparent;
    color: black;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    float: center;
    margin: 10px;
    border: none;
}

.formularioMenuLightbox{
    margin-top: 15px;
    margin-bottom: 18px;
}

.formularioOpcaoSublinhadaLightbox{
    border-bottom: solid #FFC043 3px;
    cursor: pointer;
}

#finalizarCompraModal::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
#finalizarCompraModal::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
#finalizarCompraModal::-webkit-scrollbar-thumb {
    background: #dad7d7;
}

#finalizarCompraModal {
    position: relative;
    width: 25%;
    height: auto;
    padding: 13px 20px;
    background-color: white;
    top: 49px;
    margin: 0px auto;
    border-radius: 5px;
    overflow: hidden;
    z-index: 5;
    overflow:auto; 
}

.hasError{
    border: #F25139 solid 1px !important;
    background-color: #FDECEA !important;
}

#cancelar {
    position: absolute !important;
    background-image: url('../images/fechar.png') !important;
    background-size: cover;
    width: 30px;
    height: 30px;
    cursor: pointer;
    right: 20px !important;
    top: 20px !important;
    z-index: 99999999999;
}

#sair {
    position: absolute;
    background-image: url('../images/fechar.png') !important;
    background-size: cover;
    width: 35px;
    height: 35px;
    cursor: pointer;
    right: 1%;
    top: 2%;
    z-index: 500;
}

#finalizarCompraModal #bgModal_interno {
    position: absolute;
    background: white;
    width: 100%;
    height: 100%;
    z-index: 100000;
}

#finalizarCompraModal #cabecalho_pagamento #logo {
    float: left;
    width: 125px;
}

#finalizarCompraModal #cabecalho_pagamento #logo img {
    width: 80%;
}

#finalizarCompraModal #colunaEsq {
    width: 35%;
    margin-right: 10px;
    padding-right: 10px;
    background-color: white;
    border-right: #D2D2D2 dashed 1px;
    float: left;
}

#finalizarCompraModal #colunaDir {
    float: left;
    padding: 0px;
    width: 63%;
}

.cabecalhoFinalizarCompraModal{
    background-color: white;
    width: 100%;
    display: flow-root;
    height: 40px;
    border-bottom: solid 1px;
    border-color: #F2F2F2;
    margin-bottom: 5px;
}

#submit-serveloja-payment-form{
    color: #fff !important;
    float: center !important;
    font-size: 0.8rem !important;
    font-weight: normal !important;
    width: 100% !important;
    height: 40px !important;
    border-radius: 30px !important;
    background-size: 100% 100% !important;
    margin-top: 15px !important;
    margin-right: auto !important;
    margin-bottom: auto !important;
    text-align: center !important;
    border: none !important;
    background-color: #24B24B !important;
    background-image: none !important;
    text-shadow: none !important;
    font-family: Nunito, sans-serif !important;
}

#submit-serveloja-payment-form-false{
    color: #fff !important;
    float: center !important;
    font-size: 1rem !important;
    font-weight: normal !important;
    width: 100% !important;
    height: 40px !important;
    border-radius: 30px !important;
    background-size: 100% 100% !important;
    margin-top: 15px !important;
    margin-right: auto !important;
    margin-bottom: auto !important;
    text-align: center !important;
    border: none !important;
    background-color: #24b24b5e !important;
    cursor: not-allowed;
    display: none;
    background-image: none !important;
    text-shadow: none !important;
    font-family: Nunito, sans-serif !important;
}

.formFinalizarCompraCheckout #submit-serveloja-payment-form{/*tirar hidens (retirar)*/
    color: #fff !important;
    float: right !important;
    font-size: 0.85rem !important;
    font-weight: normal !important;
    width: 300px !important;
    height: 46px !important;
    border-radius: 30px !important;
    background-size: 100% 100% !important;
    margin-left: 50% !important;
    margin-bottom: 30px !important;
    text-align: center !important;
    border: none !important;
    background-color: #24B24B !important;
    background-image: none !important;
    text-shadow: none !important;
    font-family: Nunito, sans-serif !important;
}

.formFinalizarCompraCheckout #submit-serveloja-payment-form-false{
    color: #fff !important;
    float: right !important;
    font-size: 0.85rem !important;
    font-weight: normal !important;
    width: 300px !important;
    height: 46px !important;
    border-radius: 30px !important;
    background-size: 100% 100% !important;
    margin-left: 50% !important;
    margin-bottom: 30px !important;
    text-align: center !important;
    border: none !important;
    background-color: #24b24b5e !important;
    cursor: not-allowed;
    display: none;
    background-image: none !important;
    text-shadow: none !important;
    font-family: Nunito, sans-serif !important;
}


#msgErroValidade, #msgErroCpf, #msgErroCartao,
#msgErroCelular, #msgErroDDD , #msgErroCCV, #msgErroNome{
    color: #AA0000 !important;
    margin-top: -6px;
    padding-top: 0px;
    display: none;
}

.formFinalizarCompraCheckout #msgErroValidade, #msgErroCpf, #msgErroCartao{
    color: #AA0000 !important;
    /*margin-top: -9px !important;*/
    padding-top: 0px;
    display: none;
}

#msgCartoesIndisponiveis{
    color: #AA0000 !important;
    font-weight: bold;
    font-size: 0.65rem;
    margin-top: -6px;
    padding-left: 5px;
}

#submit-payment{
    color: #fff !important;
    float: center !important;
    font-size: 0.8rem !important;
    font-weight: normal !important;
    width: 100% !important;
    height: 40px !important;
    border-radius: 30px !important;
    margin-right: auto !important;
    margin-bottom: auto !important;
    text-align: center !important;
    border: none !important;
    background-color: #24B24B !important;
}


.modalCancelar{
    position: initial;
    width: 320px;
    height: auto;
    padding: auto;
    background-color: #fff;
    margin: auto;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1200;
    margin-top: 10%;
}

.tituloExibeBandeiras{
    font-weight: 600;
    font-size: 0.65rem;
    margin: 0px;
    color: #666;
}


#exibeBandeira{
    position: relative;
    background-color: transparent;
    margin-left: -45px;
    width: 33px;
    height: 33px;
    display: inline-flex !important;
    vertical-align: middle;
}

.exibeImagensBandeirasDisponiveis{
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
}

.imgBandeirasCheckout{
    width: 36px !important;
    height: 36px !important;
    margin: 0px !important;
    display: inline-block !important;
}

.logoCheckout{
    height: 30px !important;
    margin: 0px 0px 0px 8px !important;
    display: inline-block !important;
}

#mostrarBandeiras{
    margin-top: -15px !important;
    display: none;
}

#dropdownBandeiras{
    cursor: pointer;
}


.dropdownFinalizarCompraLightbox{
    font-family: Nunito, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif !important;
    font-weight: 600;
    height: 17px !important;
    font-size: 0.85rem;
    color: #07afd4;/*24B24B*/
}

.imgBandeiras{
    width: 26px !important;
    margin: 0px !important;
    filter: grayscale(100%);
    opacity: 0.9;
    display: inline-block !important;
}

.imgBandeiraSelecionada{
    filter: grayscale(0%);
    opacity: 1 !important;
}

.opacidade{
    opacity: 0.5;
}

.formFinalizarCompraCheckout .imgBandeiras{
    width: 32px !important;
    margin: 0px !important;
    filter: grayscale();
}

.formFinalizarCompraCheckout .imgBandeiraSelecionada{
    filter: grayscale(0%);
    opacity: 1 !important;
}

.formFinalizarCompraCheckout .opacidade{
    opacity: 0.5;
}


.formFinalizarCompraCheckout .exibeImagensBandeirasDisponiveis{
    text-align: left;
    margin-left: -9px;
    margin-bottom: 20px;
}


.modalCancelarConteudo{
    overflow: hidden;
    line-height: 100%;
    padding-top: 17%;
    padding-bottom: 17%;
    text-align: center !important;
    float: center;
}

.modalCancelarTitulo{
    text-align: center !important;
    font-size: 0.9rem !important;
    margin-bottom: 7% !important;
    color: #373737 !important;
    font-weight: bold !important;
    overflow: hidden !important;
    line-height: 100% !important;
    font-family: Nunito, sans-serif !important;
}

.modalCancelarBotoes{
    text-align: center !important;
    float: center;
    width: 100%;
}
 
#modalCancelarBotaoSim{
    position: relative !important;
    color: #CCCCCC !important;
    float: center !important;
    font-size: 0.7rem !important;
    font-weight: normal !important;
    height: 40px !important;
    width: 90px !important;
    border-radius: 30px !important;
    text-align: center !important;
    border: solid 1px #CCCCCC !important;
    background-color: white !important;
    z-index: 1201 !important;
    margin-right: 2% !important;
    cursor: pointer;
}

#modalCancelarBotaoNao{
    position: relative !important;
    color: #fff !important;
    float: center !important;
    font-size: 0.7rem !important;
    font-weight: normal !important;
    height: 40px !important;
    width: 90px !important;
    border-radius: 30px !important;
    text-align: center !important;
    border: none !important;
    background-color: #24B24B !important;
    z-index: 99999999 !important;
    margin-left: 2% !important;
    outline: none !important;
    cursor: pointer;
}

#checkoutTransparent .modalSucesso{
    width: 80%;
    margin-top: 25px;
}

.modalSucesso{
    position: initial;
    width: 315px;
    height: auto;
    padding: auto;
    background-color: #fff;
    margin: auto;
    border: none;
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    z-index: 1200;
    margin-top: 49px;
}

.modalSucesso:after{
    content: "";
    display: block;
    position: absolute;
    width: 315px;
    height: 10px;
    background-color: transparent !important;
    
    
    background:
    linear-gradient( 45deg, transparent 70%, white 75% ),
    linear-gradient(-45deg, transparent 70%, white 75% ); 
    background-repeat: repeat-x;

    /*background-image: url('../images/border.png');*/
    
    background-repeat: repeat;
    background-size: 15px;
    background-position: center;
}

#checkoutTransparent .modalSucesso:after{
    background: transparent;
}

#checkoutTransparent .modalSucessoConteudo{
    background: transparent;
    padding-top: 0px;
}

#checkoutTransparent #sair{
    display: none;
}

.modalSucessoConteudo{
    overflow: hidden;
    line-height: 100%;
    padding-top: 13%;
    padding-bottom: 10px;
    margin-bottom: 0px;
    text-align: center !important;
    float: center;
}

.tituloModalSucessoInfo{
    color: #999999;
    font-family: Nunito, sans-serif !important;
    font-size: 14px !important;
    margin: 15px 0px 0px 0px !important;
    
}

.descricaoModalSucessoInfo{
    color: #333333;
    background-color: white;
    cursor: default;
    font-family: Nunito, sans-serif !important;
    font-size: 14px !important;
    font-weight: bold;
    margin: 0px 0px 8px 0px !important;
    padding: 0px !important;
    text-align: center;
    border: none !important;
}

.modalSucessoTitulo{
    text-align: center !important;
    font-size: 22px !important;
    margin-bottom: 7%;
    color: #24B24B;
    font-weight: normal;
    line-height: 1.4;
    margin: 10px 20px 30px 20px;
}

.rodapeModalSucesso{
    color: #6E6E6E;
    font-family: Nunito, sans-serif !important;
    font-size: 10px !important;
    margin: 0px;
}

@media (max-height: 600px){
    .inputFormFinalizarCompraLightbox{
        height: 28px !important;
    }
    .inputFormFinalizarCompraCheckout{
        height: 28px !important;
    }
    .exibeImagensBandeirasDisponiveis{
        margin-top: 10px;
        margin-bottom: 5px;
        text-align: center;
    }
}

@media (max-width: 1360px){
    #finalizarCompraModal {
        width: 30%;
    }
    #cancelar {
        right: 34.2%;
    }
}

@media (max-width: 1285px){
    #finalizarCompraModal {
        width: 33%;
    }    
    #cancelar {
        right: 32.8%;
    }
}

@media (max-width: 1025px){
    #finalizarCompraModal {
        width: 40%;
    }    
    #cancelar {
        right: 29%;
    }
}

@media ( max-width: 700px ) {
    .formFinalizarCompraCheckout{
        padding: 1px 15px 15px 15px;
    }
    .textoCabecalhoFinalizarCompraCheckout, .valorTotalFinalizarCompraCheckout{
        font-size: 14px !important;
        padding-left: 8px;
        padding-right: 8px;
    }
    .formFinalizarCompraCheckout .colunaDinamica_left{
        width: 100%;
    }
    .formFinalizarCompraCheckout .colunaDinamica_right{
        width: 100%;
    }
    .formFinalizarCompraCheckout #submit-serveloja-payment-form{
        width: 100%;
    }
    .formFinalizarCompraCheckout #submit-serveloja-payment-form-false{
        width: 100%;
    }
    .formFinalizarCompraCheckout .imgBandeiras{
        margin: -2px !important;
        width: 30px !important;
    }
    .formFinalizarCompraCheckout .exibeImagensBandeirasDisponiveis{
        margin-left: -5px;
    }
}


@media ( max-width: 900px ) {

    .divFinalizarCompraCheckout{
        width: 100%;
    }

    .selectFinalizarCompraLightbox{
        height: 45px;
    }

    .inputFormFinalizarCompraLightbox{
        height: 45px;
    }
    .inputFormFinalizarCompraCheckout{
        height: 45px;
    }

    #submit-serveloja-payment-form{
        height: 48px
    }

    #submit-serveloja-payment-form-false{
        height: 48px
    }

    .modalSucesso{
        position: init;
        width: 100%;
        height: 100%;
        padding: 13px 20px;
        background-color: white;
        border-radius: 0px;
        margin: auto;
        top: 0px;
        overflow: hidden;
        z-index: 5;
        overflow:auto;
    }
    
    .modalCancelar{
        position: initial;
        width: 300px;
        height: 180px;
        padding: auto;
        background-color: #fff;
        margin: auto;
        border: none;
        border-radius: 5px;
        overflow: hidden;
        z-index: 1200;
        margin-top: 50%;
    }
        

    #finalizarCompraModal {
        position: init;
        width: 100%;
        height: 100%;
        padding: 13px 25px;
        background-color: white;
        border-radius: 0px;
        margin: auto;
        top: 0px;
        overflow: hidden;
        z-index: 5;
        overflow:auto;
    }    

    #formPagamento #cabecalho_pagamento #logo img {
        margin-left: 1.5%;
    }

    #cancelar {
        position: absolute !important;
        background-image: url('../images/fechar.png') !important;
        background-size: cover;
        width: 20px;
        height: 20px;
        cursor: pointer;
        right: 8px !important;
        top: 6px !important;
        z-index: 500;
    }

    #sair {
        position: absolute;
        background-image: url('../images/fechar2.png') !important;
        background-size: cover;
        width: 25px;
        height: 25px;
        cursor: pointer;
        right: 8px !important;
        top: 8px !important;
        z-index: 500;
    }

    .valorTotalFinalizarCompraLightbox{
        float: right;
        padding-right: 25px;
        padding-top: 5px;
        color: #24B24B;
        font-size: 15px !important;
        font-family: Nunito, sans-serif !important;
        background-repeat: no-repeat;
        right: 41px;
        font-weight: bold;
        text-align: right;
        letter-spacing: -1px;
    }
    
    .textoValorTotal{
        color: #9A9A9A;
        font-size: 12px !important;
        font-family: Nunito, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif !important;
        font-weight: normal;
        display: inline !important;
    }

}
